:root {
    --color-main: #1063fd; 
}

.mobile-menu-icon, .mobile-menu{
    display: none;
}


.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #fff;
    font-size: 3.8rem;
    text-align: center;
}

h2.titulo span {
    color: var(--color-main);
}

button:hover {
    box-shadow: 1px 1px 8px var(--color-main);
    transform: scale(1.05);
    color: #fff;
} 


header{
    padding: 30px 4%;
    width: 100vw;
    position: relative;
}

header > .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color: #fff;
}

.logo h1 span {
    font-family: 'Ubuntu', sans-serif;
    font-size:  2.8rem;
    color: var(--color-main);
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    font-size: 1.8rem;
}

header a{
    color: #7d7d7d;
    display: inline-block;
    transition: 0.3s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: var(--color-main);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
} 


section.topo{
    padding: 20px 4%;
}

section.topo .flex{
    justify-content: center;
    align-items: center;
    gap: 90px;
}

section.topo .text-topo h1{
    color: #fff;
    font-size: 4rem;
    line-height: 40px;
}

section.topo .text-topo h1 span {
    color: var(--color-main);
}

section.topo .text-topo p {
    color: #fff;
    font-size: 1.7rem;
    margin: 20px 0 40px;
}

section.topo .image-topo{
    width: 80%;
    height: 400px;
    border-radius: 20% 80% 39% 61% / 40% 48% 52% 60% ;
    background-image: linear-gradient(180deg, #20CEFE, #107ffd );
    animation: float 3s ease-in-out infinite;
    overflow: hidden;
    position: relative;
}
section.topo .image-topo img{
    width: 300px;
    transform: translateY(0px);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50%{
        transform: translateY(15px);
    }

    100%{
        transform: translateY(0px);
    }
}


/* services */
section.services {
    padding: 20px 4%;
}

section.services .flex {
    gap: 60px;
    display: inline-flex;
}

.services .services-box {
    display: inline;
    color: #fff;
    cursor: pointer;
    padding: 40px;
    border-radius: 20px;
    margin-top: 40px;
    transition: all 0.4s;
    flex: 1;
    box-shadow: 0 0 10px #ffffff7e;
 
}

.services .services-box:hover {
    transition: .2s;
    box-shadow: 0 0 30px var(--color-main);
}

.services .services-box i {
    color: var(--color-main);
    font-size: 80px;
}

.services .services-box h3 {
    font-size: 2.8rem;
    margin: 10px 0;
}

.services .services-box p {
    font-size: 1.4rem;
}


section.about{
    overflow: hidden;
    padding: 40px 4% 80px 4%;
}

section.about .flex {
    align-items: center;
    gap: 60px;
}

.about .txt-about {
    color: #FFF;
}

.about .txt-about h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.about .txt-about h2 span {
    color: var(--color-main);
    display: block;
}

.about .txt-about p {
    margin: 30px 0;
    text-align: left;
    font-size: 20px;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: var(--color-main);
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.2s;
}

.btn-social button:hover {
    color: #fff;
}
.about .txt-about {
    width: 60%;
}

.about .img-about {
    width: 30%;
}

.about .img-about img {
    width: 100%;
    border-radius: 20px;
}


section.portfolio {
    padding: 80px 8%;
    box-shadow: 0 0 40px 10px #ffffff46;
}

section.portfolio .flex {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;

}

section.portfolio h2 {
    margin-bottom: 60px;
}

.portfolio .project {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

}

.project .description-project {
    width: 60%;
    margin-top: 20px;
}

.description-project h3 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.description-project p {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.description-project .tecnologias-utilizadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.tecnologias-utilizadas .skill-tech {
    width: 80px;
}


.img-port {
    order: 2;
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: background 8s;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    background-color: #000000b8;
    transition: .5s;
    opacity: 0;
    text-align: center;
} 

.overlay:hover {
    opacity: 1;
}


footer {
    padding: 40px 4%;
    box-shadow: 0 0 30px 1px #ffffff1d;
}

footer .line-footer {
    padding: 40px 0 ;
}

footer .line-footer:nth-of-type(2) {
    padding-bottom: 0;
}

footer .line-footer.flex {
    justify-content: space-between;
}

footer .line-footer p {
    display: flex;
    align-items: center;
}

footer .line-footer p i {
    color: var(--color-main);
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
    font-size: 1.6rem;
    margin-left: 5px;
    text-decoration: underline;
}

.borda {
    border-top: 2px solid var(--color-main);
}

.esconder {
    overflow-x: hidden;
}